In [15]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [16]:
df = pd.read_csv('/home/firh/Documents/GitHub/Kel-PPM-E/Dataset/dropped_chirosis.csv', sep=';')

In [17]:
fitur_terpilih = ['Prothrombin', 'Copper', 'Bilirubin', 'Stage']
df_cluster = df[fitur_terpilih]

In [19]:
df_cluster

     Prothrombin  Copper  Bilirubin  Stage
0           12.2   156.0       14.5      1
1           10.6    54.0        1.1      0
2           12.0   210.0        1.4      1
3           10.3    64.0        1.8      1
4           10.9   143.0        3.4      0
..           ...     ...        ...    ...
271         10.4    24.0        0.4      0
272         10.8    41.0        0.4      0
273         10.2    39.0        1.7      0
274         10.5    69.0        2.0      0
275         10.8   186.0        6.4      0

[276 rows x 4 columns]