In [1]:
import pandas as pd
import models
import importlib
importlib.reload(models)

In [2]:
from models.model_knn import KNN
from models.model_svm import SVM
from models import confusion_matrix
importlib.reload(models.model_knn)
importlib.reload(models.model_svm)
importlib.reload(models)

In [3]:
df = pd.read_csv('/home/firh/Documents/GitHub/Kel-PPM-E/Dataset/dropped_chirosis.csv', sep=';')
df_firhan = df.iloc[[73, 77, 79, 82, 84, 86, 87, 88, 89, 90, 74, 75, 76, 78, 80, 81, 83, 85, 91, 92]]

In [4]:
df

,ID,N_Days,Age,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,1,400,21464,14.5,261.0,2.60,156.0,1718.0,137.95,172.0,190.0,12.2,1
1,2,4500,20617,1.1,302.0,4.14,54.0,7394.8,113.52,88.0,221.0,10.6,0
2,3,1012,25594,1.4,176.0,3.48,210.0,516.0,96.10,55.0,151.0,12.0,1
3,4,1925,19994,1.8,244.0,2.54,64.0,6121.8,60.63,92.0,183.0,10.3,1
4,5,1504,13918,3.4,279.0,3.53,143.0,671.0,113.15,72.0,136.0,10.9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,308,1153,22347,0.4,246.0,3.58,24.0,797.0,91.00,113.0,288.0,10.4,0
272,309,994,21294,0.4,260.0,2.75,41.0,1166.0,70.00,82.0,231.0,10.8,0
273,310,939,22767,1.7,434.0,3.35,39.0,1713.0,171.00,100.0,234.0,10.2,0
274,311,839,13879,2.0,247.0,3.16,69.0,1050.0,117.00,88.0,335.0,10.5,0
275,312,788,12109,6.4,576.0,3.79,186.0,2115.0,136.00,149.0,200.0,10.8,0

In [5]:
from sklearn.model_selection import train_test_split
import numpy as np
data_latih, data_uji = train_test_split(df, test_size = 0.2, random_state=42)

In [6]:
# for i in range (3,10,2) :
#     print('K :',i)
#     model = KNN(i)
#     confusion_matrix.report_knn(df,model)

In [9]:
model_svm = SVM()
confusion_matrix.report_svm(df, model_svm)

              precision    recall  f1-score   support

           0       0.76      0.78      0.77        36
           1       0.58      0.55      0.56        20

    accuracy                           0.70        56
   macro avg       0.67      0.66      0.67        56
weighted avg       0.69      0.70      0.69        56

In [8]:
model_svm = SVM()
model_svm.fit(data_latih, data_latih[data_latih.columns[-1]])
model_svm.predict(data_uji)

array([0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0., 0., 1., 0.,
       0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 1.,
       0., 1., 0., 1., 0., 0., 1., 1., 1., 1., 0., 0., 1., 0., 0., 0., 0.,
       0., 1., 1., 0., 1.])